.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #6666;
  padding: 16px;
}

.form-container {
  display: flex;
  flex-direction: column;
  padding: 8px;
  background-color: #fff;
}

.outData-container {
  display: flex;
  flex-direction: column;
  min-height: 100px;
  flex-basis: auto;
  background-color: #fff;
}

.getAllBtn,
.getByIdBtn,
.addBtn,
.delBtn,
.updateBtn {
  margin-bottom: 16px;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  font-weight: 700;
}

.getAllBtn:hover,
.addBtn:hover,
.delBtn:hover,
.updateBtn:hover {
  opacity: 0.95;
  box-shadow: 0 0 12px #666;
}

.getAllBtn {
  background: #2a2cc0;
}

.getByIdBtn {
  background: #6666;
}

.addBtn {
  background: #1d9c19;
}

.delBtn {
  background: #ce2222;
}

.updateBtn {
  background: #d1d419;
}

.input {
  margin-bottom: 16px;
  padding: 8px 16px;
}
